<?xml version="1.0" encoding="utf-8"?>
<!-- Keepass2AndroidPluginSDK2, Copyright Philipp Crocoll (GPL-3.0).
     Sorgenti importati da https://github.com/PhilippC/keepass2android
     (src/java/Keepass2AndroidPluginSDK2), vedi README. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" />
